/* Twitter Bootstrap + Activable
 * ----------------------------------------------------------------*/

.tab-content {
	position: relative;
}

.tab-pane {
	display: block !important;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	filter:alpha(opacity=0);
	-webkit-transition: opacity 0.6s;
       -moz-transition: opacity 0.6s;
        -ms-transition: opacity 0.6s;
         -o-transition: opacity 0.6s;
            transition: opacity 0.6s;
}

.tab-pane.active {
	position: relative;
	opacity: 1;
	filter:alpha(opacity=100);
}

.dropdown-toggle:focus + .dropdown-menu {
	display: block;
}

.accordion, .carousel {
	list-style-type: none;
	margin-left: 0;
}

.accordion-body {
	-webkit-transition: height 0.3s;
       -moz-transition: height 0.3s;
        -ms-transition: height 0.3s;
         -o-transition: height 0.3s;
            transition: height 0.3s;
}

.active .accordion-body {
	height: auto;
}

.carousel {
	overflow: hidden;
}

.carousel > li.item {
	position: absolute;
	top: 0;
	left: 100%;
	display: block;
}

.carousel > li.active {
	position: relative;
	left: 0;
}

.carousel > li.before-active {
	left: -100%;
}

.carousel + a, .carousel + a + a {
	text-decoration: none;
}

.tree-list {
	margin-left: 0;
}

.tree-list li {
	list-style-type: none;
	overflow: hidden;

	-webkit-transition: height .5s;
	   -moz-transition: height .5s;
		-ms-transition: height .5s;
		 -o-transition: height .5s;
			transition: height .5s;
}

.tree-list ul {
	height: 0;
}

.tree-list li.active > ul {
	height: auto;
}

.tree-list li > a:before {
	content: "  ";
	margin: 0 5px;
}

.tree-list li.expandable > a:before {
	/* for some reason the pseudo-element isn't transformed with inline display */
	display: inline-block;
	content: "▸";
	margin: 0 5px;

	/* currently the transition doesn't work in webkit :( */
	-webkit-transition: -webkit-transform .5s;
	   -moz-transition:    -moz-transform .5s;
		-ms-transition:     -ms-transform .5s;
		 -o-transition:      -o-transform .5s;
			transition:         transform .5s;
}

.tree-list li.active > a:before {
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
	        transform: rotate(90deg);
}

/* Carousel mod
 * ----------------------------------------------------------------*/

#crsl {
	position: relative;
}

#crsl:hover > a {
	opacity: .9;
	filter:alpha(opacity=90);
}

#crslPrev, #crslNext {
	position: absolute;
	display: block;
	top: 50%;
	z-index: 100;

	font-size: 40px;
	font-family: "Courier New", "Liberation Mono", monospace;
	background-color: white;
	padding: 15px 10px;
	cursor: pointer;
	
	opacity: .4;
	filter:alpha(opacity=40);
	-webkit-transition: opacity .3s;
	   -moz-transition: opacity .3s;
	    -ms-transition: opacity .3s;
	     -o-transition: opacity .3s;
	        transition: opacity .3s;
}

#crslPrev {
	left: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#crslNext {
	right: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.active .accordion-body {
	height: 110px;
}

/* Other demo specific styles
 * ----------------------------------------------------------------*/
body {
	overflow-y: scroll;
}

.row {
	margin-top: 20px;
}

.inline-children > p, .inline-children > ul {
	display: inline-block;
}

.inline-children > ul {
	margin: 0 0 -8px 0;
}

.tree-list li > a {
	text-decoration: none;
	display: inline-block;
	width: 250px;
	line-height: 25px;
	border: 1px solid #E5E5E5;
	border-radius: 4px;
}