/* Other demo/docs specific styles
 * ----------------------------------------------------------------*/
body {
	overflow-y: scroll;
	background-image: url(http://subtlepatterns.com/patterns/groovepaper.png);
}

.page-header {
	margin-bottom: 0;
}
.page-header h2 {
	font-size: 22px;
	line-height: 22px;
}

.active .accordion-body {
	height: 110px;
}

#act-nav-bg {
	position: absolute;
	top: 112px;
	left: 0;
	height: 96px;
	width: 100%;
	z-index: -1;

	background-image: url(http://subtlepatterns.com/patterns/irongrip.png);
}

#act-nav {
	padding: 30px 10px;
	margin: 0;
	display: table;
	width: 920px;
	table-layout: fixed;
	border-spacing: 10px 0;
}

#act-nav:before, #act-nav:after {
	display: none;
}

#act-nav > li {
	display: table-cell;
	float: none;
	text-align: center;
}

#act-nav > li > a {
	color: white;
}
#act-nav > li > a:hover {
	box-shadow: 0 0 3px white;
}

#act-nav-intro a { background: #08C; }
#act-nav-demo a { background: #40C; }
#act-nav-src a { background: #C08; }
#act-nav-docs a { background: #C30; }
#act-nav-fork a { background: #9C0; }
#act-nav-get a { background: #0C3; }

.row {
	margin-top: 20px;
}

.inline-children > p, .inline-children > ul {
	display: inline-block;
}

.tree-list li > a {
	width: 250px;
	line-height: 25px;
}

#docs {
	margin-top: 20px;
}

#docs > nav {
	font-size: 13px;
	position: fixed;
	background: white;
	padding: 10px 0;
	border: 1px solid #eee;
	border-radius: 4px;
}

#docs > nav li {
	line-height: 18px;
}

#docs > nav code {
	font-size: 9px;
}

#docs code {
	color: #333;
}

/* Carousel mod
 * ----------------------------------------------------------------*/

#crsl {
	position: relative;
}

#crsl:hover > a {
	opacity: .9;
	filter:alpha(opacity=90);
}

#crslPrev, #crslNext {
	position: absolute;
	display: block;
	top: 50%;
	z-index: 100;

	font-size: 40px;
	font-family: "Courier New", "Liberation Mono", monospace;
	background-color: white;
	padding: 15px 10px;
	cursor: pointer;
	
	opacity: .4;
	filter:alpha(opacity=40);
	-webkit-transition: opacity .3s;
	   -moz-transition: opacity .3s;
	    -ms-transition: opacity .3s;
	     -o-transition: opacity .3s;
	        transition: opacity .3s;
}

#crslPrev {
	left: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#crslNext {
	right: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}